/* ==================================================================================================== */

/* =============== */
/*  GLOBAL KONFIG  */
/* =============== */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  user-select: none;
  -webkit-user-drag: none;

  font-family: Roboto;
  font-weight: 500;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* ==================================================================================================== */

/* =============== */
/*  NAVBAR KONFIG  */
/* =============== */

nav {
  width: 300px;
  height: 100px;


  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  justify-self: center;
  align-self: center;
  position: fixed;
  top: 0;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px 0px 25px 25px;

  z-index: 1;
}

nav svg {
  width: 64px;
  height: 64px;
  color: #ffffff;
  filter: drop-shadow(0px 5px 2.5px #000000);

  transition: color 0.5s ease;
}

#fooldal_ikon:hover {
  color: #2ECC71;
}

#oneletrajz_ikon:hover {
  color: #F1C40F;
}

#projektek_ikon:hover {
  color: #3498DB;
}

.fooldal_colored {
  color: #2ECC71;
}

.oneletrajz_colored {
  color: #F1C40F;
}

.projektek_colored {
  color: #3498DB;
}

/* ==================================================================================================== */

/* ================ */
/*  SECTION KONFIG  */
/* ================ */

section {
  min-height: 100dvh;

  padding-top: 120px;
}

/* === FŐOLDAL KONFIGURÁCIÓ === */

#fooldal {
  background:
    linear-gradient(rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(to right, rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(135deg, rgba(46, 204, 113, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background-size:
    50px 50px,
    50px 50px,
    contain;
  background-position: center;
  background-attachment: scroll;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  flex-wrap: wrap;
}

/* rólam részleg */

#fooldal #ROLAM-DOBOZ {
  width: 400px;
  height: 700px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#fooldal #ROLAM-DOBOZ #CIM span {
  font-size: 36px;
  color: #2ECC71;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#fooldal #ROLAM-DOBOZ #SZOVEG {
  width: 350px;
  height: 490px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#fooldal #ROLAM-DOBOZ #SZOVEG p {
  font-size: 36px;
  color: #ffffff;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#fooldal #ROLAM-DOBOZ #GOMB {
  width: 350px;
  height: 80px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: 0.5s ease;
}

#fooldal #ROLAM-DOBOZ #GOMB:hover {
  background: rgba(241, 196, 15, 0.25);
  border: 3px solid rgba(241, 196, 15, 0.5);
  box-shadow: 0px 0px 20px rgba(241, 196, 15, 0.5), inset 0px 5px 20px 5px rgba(241, 196, 15, 0.5);
  border-radius: 0px;
}

#fooldal #ROLAM-DOBOZ #GOMB svg {
  width: 48px;
  height: 48px;

  color: #F1C40F;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#fooldal #ROLAM-DOBOZ #GOMB span {
  font-size: 36px;
  color: #F1C40F;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

/* technológiák részleg */

#fooldal #TECHNOLOGIAK-DOBOZ {
  width: 400px;
  height: 700px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#fooldal #TECHNOLOGIAK-DOBOZ #CIM span {
  font-size: 36px;
  color: #2ECC71;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG {
  width: 350px;
  height: 490px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG .SOR {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG .db {
  width: 100px;
  height: 100px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s ease;
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG .db:hover {
  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 1);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 1), inset 0px 5px 20px 5px rgba(127, 140, 141, 1);
  border-radius: 0px;
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG .img {
  width: 80px;
  height: 80px;

  filter: drop-shadow(0px 5px 2.5px #000000);

  transition: 0.5s ease;
}

#fooldal #TECHNOLOGIAK-DOBOZ #SZOVEG .img:hover {
  filter: drop-shadow(0px 5px 3.5px #000000);
}

#fooldal #TECHNOLOGIAK-DOBOZ #GOMB {
  width: 350px;
  height: 80px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: 0.5s ease;
}

#fooldal #TECHNOLOGIAK-DOBOZ #GOMB:hover {
  background: rgba(52, 152, 219, 0.25);
  border: 3px solid rgba(52, 152, 219, 0.5);
  box-shadow: 0px 0px 20px rgba(52, 152, 219, 0.5), inset 0px 5px 20px 5px rgba(52, 152, 219, 0.5);
  border-radius: 0px;
}

#fooldal #TECHNOLOGIAK-DOBOZ #GOMB svg {
  width: 48px;
  height: 48px;

  color: #3498DB;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#fooldal #TECHNOLOGIAK-DOBOZ #GOMB span {
  font-size: 36px;
  color: #3498DB;
  filter: drop-shadow(0px 5px 2.5px #000000);
}


/* ÖNÉLETRAJZ KONFIGURÁCIÓ */

#oneletrajz { 
  background:
    linear-gradient(rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(to right, rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(135deg, rgba(241, 196, 15, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background-size:
    50px 50px,
    50px 50px,
    contain;
  background-position: center;
  background-attachment: scroll;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#oneletrajz #DOBOZ {
  width: 450px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#oneletrajz #DOBOZ #CIM {
  width: 100%;
  height: 80px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#oneletrajz #DOBOZ #CIM span {
  font-size: 36px;
  color: #F1C40F;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#oneletrajz #DOBOZ img {
  width: 100%;
  height: 600px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  cursor: pointer;

  transition: 0.5s ease;
}

#oneletrajz #DOBOZ img:hover {
  scale: 1.025;
}

#oneletrajz #DOBOZ #GOMB {
  width: 100%;
  height: 80px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: 0.5s ease;
}

#oneletrajz #DOBOZ #GOMB:hover {
  background: rgba(241, 196, 15, 0.25);
  border: 3px solid rgba(241, 196, 15, 0.5);
  box-shadow: 0px 0px 20px rgba(241, 196, 15, 0.5), inset 0px 5px 20px 5px rgba(241, 196, 15, 0.5);
  border-radius: 0px;
}

#oneletrajz #DOBOZ #GOMB svg {
  width: 48px;
  height: 48px;

  color: #F1C40F;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#oneletrajz #DOBOZ #GOMB span {
  font-size: 36px;
  color: #F1C40F;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

/* PROJEKTEK KONFIGURÁCIÓ */

#projektek {
  background:
    linear-gradient(rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(to right, rgba(0, 0, 0, 0.25) 2px, transparent 0px),
    linear-gradient(135deg, rgba(52, 152, 219, 1) 0%, rgba(44, 62, 80, 1) 100%);
  background-size:
    50px 50px,
    50px 50px,
    contain;
  background-position: center;
  background-attachment: scroll;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  flex-wrap: wrap;
}

#projektek #DOBOZ {
  width: 450px;
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#projektek #DOBOZ #CIM {
  width: 100%;
  height: 100px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#projektek #DOBOZ #CIM span {
  font-size: 36px;
  color: #3498DB;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#projektek #DOBOZ img {
  width: 100%;
  height: 600px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  cursor: pointer;

  transition: 0.5s ease;
}

#projektek #DOBOZ img:hover {
  scale: 1.025;
}

#projektek #DOBOZ #GOMB {
  width: 100%;
  height: 80px;

  background: rgba(127, 140, 141, 0.25);
  border: 3px solid rgba(127, 140, 141, 0.5);
  box-shadow: 0px 0px 20px rgba(127, 140, 141, 0.5), inset 0px 5px 20px 5px rgba(127, 140, 141, 0.5);
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: 0.5s ease;
}

#projektek #DOBOZ #GOMB:hover {
  background: rgba(52, 152, 219, 0.25);
  border: 3px solid rgba(52, 152, 219, 0.5);
  box-shadow: 0px 0px 20px rgba(52, 152, 219, 0.5), inset 0px 5px 20px 5px rgba(52, 152, 219, 0.5);
  border-radius: 0px;
}

#projektek #DOBOZ #GOMB svg {
  width: 48px;
  height: 48px;

  color: #3498DB;
  filter: drop-shadow(0px 5px 2.5px #000000);
}

#projektek #DOBOZ #GOMB span {
  font-size: 36px;
  color: #3498DB;
  filter: drop-shadow(0px 5px 2.5px #000000);
}